.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;  
    width: 100%; 
  
  }
  .addTask {
    position: fixed; 
    right: 20px; 
    bottom: 20px;
    z-index: 10; 
    &>button{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  
  .animateSpin {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (max-width:768px){
    .addTask{
      display: none;
    }
  
  }