.pageContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.todoDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleLabel {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.todoTitle {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: color 0.2s;
}

.todoTitle:hover {
  color: #007bff;
}

.status {
  font-size: 16px;
  color: #777;
}


.editInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.buttons {
  display: flex;
  gap: 10px;
}


.toggleButton {
  background-color: #007bff;
  color: white;
}

.toggleButton:hover {
  background-color: #0056b3;
}

.backButton {
  background-color: #ccc;
  color: black;
}

.backButton:hover {
  background-color: #999;
}
.textDescription{
  display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover{
      color: #007bff;
    }
}

.completed{
  color: black;
}